@model MFAViewModel

<p>
    Please enter the code below in  your authenticator application.
</p>
<p>
    @Model.Token
</p>
<p>
    Alternatively, scan the below QRCode with your mobile phone.
</p>

<div id="qrCode" />


<form asp-controller="Identity" asp-action="MFASetup" method="post">
    <input type="hidden" asp-for="Token" />
    <div class="form-group">
        Enter Code: <input type="text" class="form-control" asp-for="Code" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <script src="~/js/qrcode.js" asp-append-version="true"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"), "@Model.QRCodeUrl");
    </script>
}